.green{
    color: green;
}
.red{
    color: red;
}
.wrapper {
    width: 100px;
    height: 300px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.redLight {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid black;
}
.yellowLight {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid black;
}
.greenLight {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid black;
}

.text {
    font-size: 25px;
    font-family: sans-serif;
}